<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Show message</title>
</head>
<body>
  <h2>都道府県別カラオケ店舗数</h2>
	<a href="/public/karaoke.html">カラオケ店舗の多い順（少ない順）に都道府県を表示する（app6.jsを起動してからクリックしてください）</a><br>
</body>
</html>